<!DOCTYPE html>
<html lang="vie">
  <head>
    <meta charset="UTF-8" />
    <title> </title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='style.css') }}"
    />

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </head>
  <body>
    <div class="header">
      <div class="title">
        <div class="header1">Title:</div>
        <div id="title-id">{{title.title_text}}</div>
      </div>

      <div class="file-name">
        <div class="header1">Filename:</div>
        <div id="file-name-id">{{file_name}}</div>
      </div>
      <div class="current-paragraph">
        <div class="header1">Current-paragraph:</div>
        <div id="current-paragraph-id">{{current_paragraph_str}}</div>
      </div>

      <div class="numofQuestion">


        <div class="header1">Number of questions:</div>
        <div id="numofQuestion-id">{{total_ans1}}</div>
      </div>
    </div>

    <div class="section1">
      <div class="left">
        <div class="task-description">Task description</div>
        <div class="description-box">"Formulate questions and answers based on the text, with answers being the shortest sentences in the text and containing fewer than 384 words, ensuring that the answers differ from the model's answers and have an F1 score below 0.4."</div>
        <table class="table1">
          <td> <div class="content">Content </div></td>
          <td>
            {% if question == None %}
            <button id="selectButton" onclick="get_text( {{ current_paragraph.id }}, {{ qas_answer.id }})"><i>SELECT ANSWER</i></button>
        {% else %}
            <button id="selectButton" onclick="get_text({{ current_paragraph.id }}, {{ qas_answer.id }}, '{{ question }}')"><i>SELECT ANSWER</i></button>
        {% endif %}
      

          
          </td>
        </table>

        
        <div class="content-box" id="selectable-text-area">
          {{current_paragraph.context}}
        </div>
        

        {% if current_paragraph.has_prev and current_paragraph.prev_para() %}
        <a
          href="{{ url_for('display', id_para=current_paragraph.prev_para().id, file_name=file_name,id_qs=current_paragraph.prev_para().get_min_qas_answer().id) }}"
          id="PreviousButton"
        >
          Previous
        </a>
        {% else %} <a href="#" id="PreviousButton"> Previous </a>
        {% endif %} {% if current_paragraph.has_next and
        current_paragraph.next_para() %}
        <a
          href="{{ url_for('display', id_para=current_paragraph.next_para().id, file_name=file_name,id_qs=current_paragraph.next_para().get_min_qas_answer().id) }}"
          id="NextButton"
        >
          Next
        </a>
        {% else %} <a href="#" id="NextButton"> Next </a>
        {% endif %}
      </div>

      <div class="right">
        <form action="/upload_json" method="post" enctype="multipart/form-data">
          <input type="file" name="file" id="choose-file" />
          <input type="submit" value="Upload" id="upload" onclick="upload()" />
          <div class="uploadNoti">
            File uploaded successfully and processed.
          </div>
        </form>

        {% if qas_answer.active == 1%}
        <style>
            #question, #displaySelectedquestion{
              color:blue
            }
        </style>
        {% endif %}
        {% if question == None %}
        <div class="data-box">
          <div class="noofquestion">Q1</div>
          <input
            type="text"
            id="question"
            value="{{qas_answer.question}}"
            onchange="update_question( {{current_paragraph.id}} ,{{ qas_answer.id }} ,this)"
          />
          {% else %}
          {% if answer == None %}
         
          <div class="data-box">
            <div class="noofquestion">Q1</div>
            <input
              type="text"
              id="question"
              value="{{question}}"
              oninput="checkInputLength(this)"
              onchange="update_question( {{current_paragraph.id}},{{ qas_answer.id}} ,this)"
            />        
          {% else %}

          <!-- <div style="display: none;">{{ans_start}}</div> -->

          <div class="data-box">
              <div class="noofquestion">Q1</div>
              <input type="text"
                     id="question"
                     value="{{question}}"
                     oninput="checkInputLength(this)"
                     onchange="update_question( {{current_paragraph.id}},{{ qas_answer.id}} ,this,'{{answer}}')" />          {% endif %}

              {% endif %}
              <div class="decor" style="font-size: 20px;">Your Answer here:</div>


              <!-- selected -->
              {% if qas_answer.fake_id == ""%}
              <div class="type" style="display: flex;">
                  <div><h4> Type of Question: </h4></div>
                  <select id="type_question">
                      <option disabled selected value>Select here</option>
                      <option value="01">What </option>
                      <option value="02">Who</option>
                      <option value="03">Why</option>
                      <option value="04">When</option>
                      <option value="05">where</option>
                      <option value="06">How</option>
                      <option value="07">Others</option>
                  </select>
                  <div><h4> Dificult: </h4></div>
                  <select id="Dificult">
                      <option disabled selected value>Select here</option>
                      <option value="01">Explicit</option>
                      <option value="02">Paraphrasing</option>
                      <option value="03">Co-reference</option>
                      <option value="04">Multi-hop</option>
                      <option value="05">Comparative</option>
                      <option value="06">Numeric</option>
                      <option value="07">Filtering</option>
                      <option value="08">Temporal</option>
                      <option value="09">Spatial</option>
                  </select>
                  <div><h4> Type of answer: </h4></div>
                  <select id="Type_answer">
                      <option disabled selected value>Select here</option>
                      <option value="01">Thời gian</option>
                      <option value="02">Số khác</option>
                      <option value="03">Con người</option>
                      <option value="04">Nơi chốn</option>
                      <option value="05">Thực thể khác</option>
                      <option value="06">Cụm danh từ</option>
                      <option value="07">Cụm động từ</option>
                      <option value="08">Cụm Tính từ</option>
                      <option value="09">Cụm giới từ</option>
                      <option value="10">Mệnh đề</option>
                      <option value="11">Khác</option>
                  </select>
              </div>



              {% else %}

              {% set parts = qas_answer.fake_id.split('_') %}

              <div class="type" style="display: flex;">
                  <div><h4> Type of Question: </h4></div>
                  <select id="type_question">
                      <option disabled selected value>Select here</option>
                      <option {% if parts[3] == '01' %}selected{% endif %} value="01">What </option>
                      <option {% if parts[3] == '02' %}selected{% endif %} value="02">Who</option>
                      <option {% if parts[3] == '03' %}selected{% endif %} value="03">Why</option>
                      <option {% if parts[3] == '04' %}selected{% endif %} value="04">When</option>
                      <option {% if parts[3] == '05' %}selected{% endif %} value="05">where</option>
                      <option {% if parts[3] == '06' %}selected{% endif %} value="06">How</option>
                      <option {% if parts[3] == '07' %}selected{% endif %} value="07">Others</option>
                  </select>
                  <div><h4> Dificult: </h4></div>
                  <select id="Dificult">
                      <option disabled selected value>Select here</option>
                      <option {% if parts[4] == '01' %}selected{% endif %} value="01">Explicit</option>
                      <option {% if parts[4] == '02' %}selected{% endif %}  value="02">Paraphrasing</option>
                      <option {% if parts[4] == '03' %}selected{% endif %}  value="03">Co-reference</option>
                      <option {% if parts[4] == '04' %}selected{% endif %}  value="04">Multi-hop</option>
                      <option {% if parts[4] == '05' %}selected{% endif %} value="05">Comparative</option>
                      <option {% if parts[4] == '06' %}selected{% endif %}  value="06">Numeric</option>
                      <option {% if parts[4] == '07' %}selected{% endif %}  value="07">Filtering</option>
                      <option {% if parts[4] == '08' %}selected{% endif %}  value="08">Temporal</option>
                      <option value="09">Spatial</option>
                  </select>
                  <div><h4> Type of answer: </h4></div>
                  <select id="Type_answer">
                      <option disabled selected value>Select here</option>
                      <option {% if parts[5] == '01' %}selected{% endif %}  value="01">Thời gian</option>
                      <option {% if parts[5] == '02' %}selected{% endif %}  value="02">Số khác</option>
                      <option {% if parts[5] == '03' %}selected{% endif %}  value="03">Con người</option>
                      <option {% if parts[5] == '04' %}selected{% endif %}  value="04">Nơi chốn</option>
                      <option {% if parts[5] == '05' %}selected{% endif %}  value="05">Thực thể khác</option>
                      <option {% if parts[5] == '06' %}selected{% endif %}  value="06">Cụm danh từ</option>
                      <option {% if parts[5] == '07' %}selected{% endif %}  value="07">Cụm động từ</option>
                      <option {% if parts[5] == '08' %}selected{% endif %}  value="08">Cụm Tính từ</option>
                      <option {% if parts[5] == '09' %}selected{% endif %}  value="09">Cụm giới từ</option>
                      <option {% if parts[5] == '10' %}selected{% endif %}  value="10">Mệnh đề</option>
                      <option value="11">Khác</option>
                  </select>
              </div>


              {% endif %}




              {% if answer == None %}
              <div id="displaySelectedquestion">{{qas_answer.answer_text}}</div>

              {% else %}
              <div id="displaySelectedquestion">{{answer}}</div>
              {% endif %}
              <div class="modelAns">Model Answer</div>
              <div class="modelAnswer">{{predicted_answer}}</div>

              <div class="F1">
                  <div class="f1Score">F1-Score:</div>

                  <div class="displayF1">{{F1}}</div>

                  <button type="submit" id="Save" onclick="checkF1()">Save</button>
              </div>

              {% if qas_answer.has_prev and qas_answer.prev_qs(current_paragraph.id)
              %}
              <a href="{{ url_for('display', id_para=current_paragraph.id, file_name=file_name, id_qs=qas_answer.prev_qs(current_paragraph.id).id )}}"
                 id="PreviousButton">
                  Previous Ans
              </a>
              {% else %} <a href="#" id="PreviousButton"> Previous Ans </a>
              {% endif %}



              {% if qas_answer.has_next and
              qas_answer.next_qs(current_paragraph.id) %}
              <a href="{{ url_for('display', id_para=current_paragraph.id, file_name=file_name, id_qs=qas_answer.next_qs(current_paragraph.id).id)}}"
                 id="NextButton">
                  Next
              </a>
              {% elif qas_answer.next_qs(current_paragraph.id) == "" %}

              <a href="#" id="NextButton"> Next Ans</a>
              {% else %}
              <a href="{{ url_for('display2', id_para=current_paragraph.id, file_name=file_name, id_qs=total_ans)}}"
                 id="NextButton">
                  Next Ans
              </a>
              {% endif %}
              <button id="exportButton">Export JSON File</button>
          </div>
      </div>
      
    </div>

    



    <div class="confirmation-form">
      <span class="close-btn" id="closeButton">&times;</span>
      <p>Bạn chắc chắn muốn lưu không?</p>
      <button id="saveButton">Xác nhận</button>
    </div>
    
    <div id="qa_id" style="display: none;">{{qas_answer.id}}</div>
    
  </body>
</html>
