<!DOCTYPE html>
<html lang="vie">
  <head>
    <meta charset="UTF-8" />
    <title> </title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='style.css') }}"
    />

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  
  </head>
  <body>
    <div class="header">
      <div class="title">
        <div class="header1">Title:</div>
        <div id="title-id"></div>
      </div>

      <div class="file-name">
        <div class="header1">Filename:</div>
        <div id="file-name-id"></div>
      </div>
      <div class="current-paragraph">
        <div class="header1">Current-paragraph:</div>
        <div id="current-paragraph-id"></div>
      </div>

      <div class="numofQuestion">
        <div class="header1">Number of questions:</div>
        <div id="numofQuestion-id"></div>
      </div>
    </div>

    <div class="section1">
      <div class="left">
        <div class="task-description">Task description</div>
        <div class="description-box">"Formulate questions and answers based on the text, with answers being the shortest sentences in the text and containing fewer than 384 words, ensuring that the answers differ from the model's answers and have an F1 score below 0.4."</div>
        <table class="table1">
          <td><div class="content">Content</div></td>
          <td>
            <button id="selectButton"><i>SELECT ANSWER</i></button>
          </td>
        </table>

        <div class="content-box" id="selectable-text-area"></div>

        <a href="#" id="PreviousButton"> Previous </a>

        <a href="#" id="NextButton"> Next </a>
      </div>

      <div class="right">
        <form action="/upload_json" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
          <input type="file" name="file" id="choose-file" accept=".json"  />
          <input type="submit" value="Upload" id="upload" />
          <div class="uploadNoti" style="display:none">
            File uploaded successfully and processed.
          </div>
        </form>
        </form>

        <!-- <div style="display: none;">{{ans_start}}</div> -->

        <div class="data-box">
          <div class="noofquestion">Q1</div>
          <input type="text" id="question" />
          
          <div class="decor" style="font-size: 20px">Your Answer here:</div>
          <div class="type" style="display: flex;"> 
            <div><h4> Type of Question: </h4></div> 
            <select id="type_question">
                <option disabled selected value>Select here</option>
                <option value="01">What </option>
                <option value="02">Who</option>
                <option value="03">Why</option>
                <option value="04">When</option>
                <option value="05">where</option>
                <option value="06">How</option>
                <option value="07">Others</option>
            </select>
            <div><h4> Dificult: </h4></div> 
            <select id="Dificult"> 
                <option disabled selected value>Select here</option>
              <option value="01">Explicit</option> 
              <option value="02">Paraphrasing</option> 
              <option value="03">Co-reference</option> 
              <option value="04">Multi-hop</option> 
              <option value="05">Comparative</option> 
              <option value="06">Numeric</option> 
              <option value="07">Filtering</option> 
              <option value="08">Temporal</option>
              <option value="09">Spatial</option> 
            </select> 
            <div><h4> Type of answer: </h4></div> 
            <select id="Type_answer:">
                <option disabled selected value>Select here</option>
                <option value="01">Thời gian</option>
                <option value="02">Số khác</option>
                <option value="03">Con người</option>
                <option value="04">Nơi chốn</option>
                <option value="05">Thực thể khác</option>
                <option value="06">Cụm danh từ</option>
                <option value="07">Cụm động từ</option>
                <option value="08">Cụm Tính từ</option>
                <option value="09">Cụm giới từ</option>
                <option value="10">Mệnh đề</option>
                <option value="11">Khác</option>
            </select>
          </div>
          <div id="displaySelectedquestion"></div>

          <div class="modelAns">Model Answer</div>
          <div class="modelAnswer"></div>

          <div class="F1">
            <div class="f1Score">F1-Score:</div>

            <div class="displayF1">{{F1}}</div>

            <button type="submit" id="Save">Save</button>
          </div>

          <a href="#" id="PreviousButton"> Previous Ans </a>

          <a href="#" id="NextButton"> Next Ans</a>
          <button id="exportButton" style="margin-left: 150px; display: none">Export JSON File</button>
        </div>
      </div>
    </div>
  </body>
  <script>
    function validateForm() {
      var fileInput = document.getElementById('choose-file');
      if (fileInput.files.length === 0) {
        alert('Please select a file.');
        return false; // Ngăn chặn việc gửi biểu mẫu nếu không có file được chọn
      }
      return true; // Cho phép gửi biểu mẫu nếu có file được chọn
    }
  </script>
  
</html>
